*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --main-color:#fff
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    height: 60px;
    width: 100%;
    padding-left:50px ;
    padding-right:50px ;
}

.header .logo{
    color: var(--main-color);
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header nav a{
    position: relative;
    margin-left: 10px;
    color: var(--main-color);
}

.header nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    left: 0;
    margin-bottom: -3px;
    border-radius: 5px;
    background-color: aliceblue;
    z-index: 99;
    transition: 0.3s;

}
.header nav a:hover::after{
    width: 100%;
}

section{
    height: 100vh;
    width: 100%;
    background-image: url(../pexels-brett-sayles-5489457.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content{
    color: var(--main-color);
}
section .content h2{
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}
section .content p{
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 25px;
 }

section .content .zorzr{
    text-align: center;
}

section .content .zorzr .btn{
    display: inline-block;
    color: var(--main-color);
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    width: 150px;
    margin: 10px;
    vertical-align: middle;
    padding: 1% 0;
    border: 1px solid var(--main-color);
    transition: 0.5s;
}
section .content .zorzr .btn:hover{
    background-color: #7F5F45;
}